<h3 style = "color:#E0004D; font-weight: 600"> Import Aetna Claims </h3>
<hr>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<br>
<span class="badge badge-light">
<%= link_to 'Import Claims', new_claim_path %>
</span>
