/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .bodyfont {
   height: 100%;
   font-family: 'Lato', sans-serif;
   align-items: center;
 }

.hidden {display:none;}

.hidden_section {
  padding: 1em 0;
}

.hidden_section {
  text-align: center;
}

.container {
	width: 100%;
  text-align: center;
	max-width: 450px;
	margin: 3em auto 0 auto;
	border-radius: 15px;
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
}

input[type="text"], textarea {
	width: 100%;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: #f8f9fa;
	border: none;
	height: 90px;
	border-radius: 4px;
	padding: 1em 1em;
}
